.all {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(17, 17, 17, 0.178);
  animation-name: fadeIn;
  animation-duration: 2s;    
}
.main {
  height: 97vh;
  display: grid;
  justify-content: center;
}
.contant {
  background: #fa7010;
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 0px 0px;
  height: 42%;
  padding-top: 10px;
  padding-left: 50px;
}
.chat {
  margin-top: -90px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 5px 10px rgba(17, 17, 17, 0.178);
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.question {
  color: rgb(255, 0, 0);
}
.one {
  border-radius: 5px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(17, 17, 17, 0.178);    
}
.start {
  border-radius: 30px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 5px 10px rgba(17, 17, 17, 0.178);
}
.message {
  float: left;
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 15px;
  height: 25px;
}
.robot {
  height: 60px;
  width: 64px;
  padding: 10px;
  box-sizing: border-box;
  background: #ff6f00;
  border-radius: 150px;
  margin-top: -30px;
  box-shadow: 0px 5px 10px rgba(17, 17, 17, 0.178);
}
@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
